body, h1, h2, h3, p, ul, li, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #2c2c2c;
}

header {
    text-align: center;
    padding: 20px 0;
}

#social-links {
    margin-top: 10px;
}

#about {
    font-size: 16px;
    margin: 20px;
}

#educations, #projects, #experience, #skills {
    background-color: #fca0ff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project, .job, .skill-category {
    margin-bottom: 20px;
}

.project h3, .job h3, .skill-category h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.job-date {
    font-style: italic;
}

.project-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
}

.project-link:hover {
    text-decoration: underline;
}

#skills p {
    margin-bottom: 10px;
}

/* Add more styles as needed */
